.wrap {
	height: 100vh;
	overflow-y: auto;
	background-color: #f9f9f9;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}

.animated.short {
    animation-duration: 600ms;
}