.wrap {
	height: 100vh;
	overflow-y: auto;
	background-color: #f9f9f9;
	position: relative;
}
.page {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  .page-top {
  	position: relative;
  	height: 0.9rem;
  	padding: 0.2rem 0.3rem;
  	background-color: #fff;
  }
  .page-main {
  	position: absolute;
  	left: 0;
  	top: 0.9rem;
  	bottom: 0;
  	width: 100%;
  	overflow-y: auto;
    background-color: #fff;
  }
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}

.animated.short {
    animation-duration: 600ms;
}